name: Sync main branch to Bitbucket

on: [push]

jobs:
  git-mirror:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0 # <-- clone with complete history

    - name: Push
      uses: heussd/mirror-to-bitbucket-github-action@v2
      with:
        username: gnpernice
        spacename: mchappsrvcs
        repository: artbaseldesigntokens
        password: ATBBr4guvgYkg64xFq6jLLPXdCQ43D53F492
