name: Build Tokens & Sync main branch to Bitbucket

on: [push, pull_request]

jobs:
  generate_tokens-n-git_mirror:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v3
      with:
        ref: update-tokens
    - uses: actions/setup-node@v3
      with:
        node-version: "16"
    - name: Install Node Dependencies
      run: yarn
    - name: Build Style Dictionary
      run: npm run build
    - name: Commit Generated Platform Deliverables
      id: auto-commit-action
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Update design tokens

    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0 # <-- clone with complete history

    - name: Push
      uses: heussd/mirror-to-bitbucket-github-action@v2
      with:
        spacename: mchappsrvcs
        repository: artbaseldesigntokens
        password: ATBBr4guvgYkg64xFq6jLLPXdCQ43D53F492
        username: chanthoan
        